@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

/* utility classes */
.flex {
    display: flex;
}
.flex-direction {
    flex-direction: column;
}
.flex-direction-2 {
    flex-direction: row;
}
.center {
    justify-content: center;
    align-items: center;
}





/* main css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(246, 246, 246);
}
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
main {
height: 80vh;
}
h1 {
    margin: 10px auto;
    text-align: center;
    color: rgb(57, 57, 57);
}
.calculator-holder {
    /* width: 200px; */
    height: 380px;
    width: 270px;
    background-color: rgb(178, 255, 255);
    border-radius: 20px;
}
#input-text{
    /* padding: 10px; */
    /* margin: 3px 3px; */
    width: 200px;
    margin: 10px 0;
    height: 50px;
    font-size: 22px;
    font-weight: 500;
    
}
.btn-color {
    background-color: rgb(57, 57, 57);
    color: white;
    cursor: pointer;
}
.btn-color:hover {
    background-color: rgb(24, 24, 24);
    color: white;
}
#btn {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    margin: 3px 3px;
    width: 45px;
    border-radius: 10px;
    /* flex-basis: 30px;
     */
     
}